<div class="drawer-mask @(_open ? "open" : "")">
    <div class="drawer">
        <div class="item-card gray-background">
            <div class="item-image"></div>
            <div class="item-description">
                <div class="item-name">
                    <h2><strong>@_activeItem.Name</strong></h2>
                </div>
                <div class="item-rating">
                    <div class="price">
                        <p>@_activeItem.Price k</p>
                    </div>

                    <div class="review">&starf; @_activeItem.Rating</div>
                </div>

                    <div class="item-rating">
                        <div class="price">
                            <p>@_activeItem.Info</p>
                        </div>
                    </div>
                <button class="wide-button" @onclick="CloseItem">Close</button>
            </div>
        </div>
    </div>
</div>

@code {
    private bool _open;

    private NewArrivals? _activeItem;

    [Parameter, EditorRequired]
    public NewArrivals NewArrivals { get; set; }

    protected override void OnParametersSet()
    {
        if (NewArrivals != null)
        {
            _activeItem = NewArrivals;

            _open = true;
        }
    }

    private void CloseItem()
    {
        NewArrivals = null;

        _open = false;
    }
}